version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
    # logback-classic >= 1.4.0 requires Java 11
    - dependency-name: ch.qos.logback:logback-classic
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
    # equalsverifier >= 4.0.0 requires Java 11
    - dependency-name: nl.jqno.equalsverifier:equalsverifier
      update-types: [ "version-update:semver-major" ]
    # mockito-core >= 5.0.0 requires Java 11
    - dependency-name: org.mockito:mockito-core
      update-types: ["version-update:semver-major"]
